.detail-product-image>p {
    opacity: 0.502;
    font-size: 14px;
    color: #000000;
    font-weight: 500;
    text-align: center;
}

.deal {
    background: #f9e400;
    font-size: 11px;
    padding: 4px 8px;
    font-weight: 900;
}

.sale {
    background: #40c572;
    color: white;
}

.detail-product__category {
    font-size: 16px;
    text-transform: uppercase;
    color: #5ac8fa;
    font-weight: 600;
}

.detail-product__name {
    font-size: 32px;
    color: #000000;
    font-weight: 500;
}

.detail-product__price>strong {
    font-size: 28px;
    color: #007aff;
    font-weight: 600;
}

.detail-product__price>em {
    font-size: 28px;
    margin-left: 20px;
    text-decoration: line-through;
    color: #bbbbbb;
    font-weight: 500;
}

.detail-product__available {
    font-size: 20px;
    line-height: 26px;
    color: #bbbbbb;
    font-weight: 500;
}

.detail-product__available>span {
    font-size: 20px;
    color: #4cd964;
    font-weight: 500;
}

.star>span {
    opacity: 0.600;
    font-size: 18px;
    line-height: 26px;
    color: #000000;
    font-weight: 500;
}

.describe>.desc {
    opacity: 0.702;
    font-size: 18px;
    color: #000000;
    font-weight: 500;
}

.list__desc__item {
    opacity: 0.502;
    font-size: 15px;
    line-height: 36px;
    color: #000000;
    font-weight: 500;
}

.SKU {
    font-size: 15px;
    color: #000000;
    font-weight: 500;
}

.SKU>span {
    opacity: 0.502;
    font-size: 15px;
    color: #000000;
    font-weight: 500;
}

.quantity__detail {
    opacity: 0.702;
    font-size: 18px;
    text-transform: uppercase;
    color: #000000;
    font-weight: 500;
    text-align: center;
    width: 160px;
    height: 40px;
    background-color: #ffffff;
    border: 2px solid #eeeeee;
}

.qty {
    margin: 20px 0;
}

.select {
    width: 160px;
    height: 40px;
    background-color: #ffffff;
    border: 2px solid #eeeeee;
}

.qty>span {
    font-size: 18px;
    line-height: 26px;
    color: #bbbbbb;
    font-weight: 500;
}

.add__to__cart {
    width: 190px;
    height: 50px;
    border-radius: 30px;
    background-color: #ff3b30;
    border: 2px solid #ff3b30;
    font-size: 18px;
    color: #ffffff;
    font-weight: 500;
}

.add__to__wishlist,
.add__to__compare {
    background-color: transparent;
    outline: 0;
    font-size: 18px;
    line-height: 30px;
    color: #000000;
    font-weight: 500;
    border: none;
}

.add__to__wishlist>i,
.add__to__compare>i {
    margin-right: 10px;

}

#img-zoom {
    width: 340px;
    height: 340px;
    box-shadow: 0 5px 10px -2px rgba(0, 0, 0, 0.3);
    pointer-events: none;
    position: absolute;
    opacity: 0;
    border: 4px solid whitesmoke;
    z-index: 99;
    border-radius: 100%;
    display: block;
    transition: opacity .2s;
}

.discount-product {
    background-color: #f5f5f5;
}

.discount-product>.info {
    margin: 50px 100px;
}

.description-product-menu__list {
    margin-top: 10px;
    justify-content: end;
}

.description-product__item {
    margin-right: 35px;
}

.description-product-menu__link {
    text-decoration: none;
    font-size: 22px;
    color: #000000;
    opacity: 0.502;
    font-weight: 600;
}

.content-text__tutorials {
    font-size: 18px;
    color: #ff3b30;
    font-weight: 500;
    font-family: "Poppins";
}

.content-img {
    display: flex;
    justify-content: end;
}

.content-text__tutorials>i {
    margin-right: 10px;
}

.content-text__title {
    margin-top: 30px;
    font-size: 28px;
    color: #000000;
    font-weight: 600;
}

.black-block {
    margin-top: 30px;
    padding: 40px 40px;

    background-color: #222222;
}

.black-block-content {
    color: #fff;
}

.black-block-content__name {
    width: 570px;
    height: 97px;
    font-size: 34px;
    font-weight: 600;
}

.descriptions-product {
    margin: 40px 0;
}

.black-bock-content__desc {
    opacity: 0.349;
    width: 570px;
    height: 115px;
    font-size: 18px;
    font-weight: 500;

}

.black-block-desc-item__icon {
    font-size: 60px;
}

.black-block-desc-item__title {
    font-size: 18px;
    font-weight: 600;
}

.black-block-desc-item__desc {
    width: 470px;
    height: 76px;
    line-height: 24px;
    color: #9b9b9b;
}

.best-sellers {
    font-weight: 400;
}

.best-sellers>span {
    font-weight: 600;
}

.product__price {
    font-size: 22px;
    color: #007aff;
    font-weight: 600;
}

.product-item {
    display: inline;
    padding: 0 15px;
    border-right: 0.5px solid #00000036;
    position: relative;
}

.product__name {
    opacity: 0.702;
    font-size: 16px;
    color: #000000;
    font-weight: 500;
    text-align: center;
}

.product-menu {
    top: 0;
    position: absolute;
    display: none;
}

.product-menu>a {
    text-decoration: none;
    color: #cccccc;
    font-size: 25px;
}

.btn__menu {
    width: 45px;
    height: 45px;
    border-radius: 30px;
    background-color: #f5f5f5;
    border: 2px solid #eeeeee;
}
.product-item:last-child {
    border: none;
}
.product-item:hover {
    border: #007aff 0.5px solid;
    border-radius: 10px;
}

.product-menu>.arrow:hover {
    color: #007aff;
}

.product-item:hover .product-menu {
    display: block;
}

.product-menu>.heart:hover {
    color: #ff3b30;
}

.product-item>.deal {
    background: #f9e400;
    font-size: 11px;
    padding: 4px 8px;
    right: 10px;
    top: 10px;
    font-weight: 900;
    position: absolute;
}

.product-item>.deal.sale {
    background: #40c572;
    color: #fff;
}

.product-item>.deal.new {
    background: #007aff;
    color: #fff;
}