@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&family=Work+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
input[type=range] {
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 100%;
  height: 10px;
  margin: 10px 0;
  background-color: transparent;
}

/* For WebKit browsers */
input[type=range]::-webkit-slider-runnable-track {
  height: 10px;
  border-radius: 5px;
  background-color: #ddd;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 9px;
  width: 9px;
  border-radius: 50%;
  background-color: #4cd964;
  cursor: pointer;
}

input[type=range]::-webkit-slider-thumb:active,
input[type=range]::-webkit-slider-runnable-track:active {
  background-color: #4cd964;
}

/* For Firefox */
input[type=range]::-moz-range-progress {
  height: 10px;
  border-radius: 5px;
  background-color: #4cd964;
}

input[type=range]::-moz-range-track {
  height: 10px;
  border-radius: 5px;
  background-color: #ddd;
}

input[type=range]::-moz-range-thumb {
  height: 10px;
  width: 12px;
  border: none;
  border-radius: 50%;
  background-color: #4cd964;
  cursor: pointer;
}

.text-gray {
  color: #484848;
}

.w-80 {
  width: 80% !important;
}

.w-90 {
  width: 90% !important;
}

.text-blue {
  color: blue !important;
}

.cursor-pointer {
  cursor: pointer !important;
}

.h-30 {
  height: 30% !important;
}

.w-32 {
  width: 32% !important;
}

.owl-stage-outer {
  height: 100% !important;
}

.owl-stage {
  height: 100% !important;
}

.owl-item {
  height: 100% !important;
}

.br {
  border: 2px solid gray;
  border-radius: 3px;
}

.text-green {
  color: #4cd964;
}

.text-red {
  color: #ff918b !important;
}

.h-90 {
  height: 90% !important;
}

.w-33 {
  width: 33% !important;
}

.color-star {
  color: #fed700;
}

.w-60 {
  width: 60%;
}

.w-70 {
  width: 70%;
}

.bgc-red {
  background-color: #ff918b !important;
}

.h-500px {
  height: 500px;
}

.header {
  background-color: #f3f3f3;
  height: fit-content;
}
.header-link {
  font-family: "Poppins", sans-serif;
}
.header-nav {
  width: 30%;
}

.nav-top {
  height: 80px;
}
.nav-top .select-search {
  right: 50px;
}

.top-nav-menu-link {
  color: #656565;
}
.top-nav-menu-link .quantity {
  width: 15px;
  height: 15px;
  background-color: #f5f5f5;
  color: black;
  top: 6px;
  left: 10px;
}
.top-nav-menu-link .bag {
  background-color: red;
  color: white;
}

.current-money {
  color: #007aff;
}

.btn-search {
  height: 50px;
  width: 50px;
  border: none;
  background: #007aff;
  color: white;
}

.dropdown-category {
  background-color: #007aff;
  color: white;
}

.nav-main {
  height: 100px;
}

.active-nav {
  color: #ff3b30;
}

.dots-slider {
  top: 0;
  margin-left: 95%;
}
.dots-slider button {
  width: 10px !important;
  height: 10px !important;
  border-radius: 50%;
}
.dots-slider button.active {
  background-color: blue;
}

.slider-body {
  top: 35%;
}
.slider-body .slider-action {
  width: 175px !important;
  height: 50px !important;
  align-items: center;
  border: 3px solid aqua;
}
.slider-body .slider-name {
  font-size: 35px;
}

.banners {
  height: 300px;
}
.banners .banner-item:first-child {
  background-color: #6353e1;
}
.banners .banner-item:last-child {
  background-color: #2596db;
}
.banners .banner-item:nth-child(2) {
  background-color: #53cd83;
}

.best-sellings {
  height: 275px !important;
}

.control-arrow-prev {
  position: absolute;
  top: 65%;
  left: -20%;
}

.control-arrow-next {
  position: absolute;
  top: 65%;
  left: -15%;
}

.card-item-best-seller .action-card-best-seller {
  display: none !important;
  height: 75px;
  top: 10%;
  left: 10%;
}
.card-item-best-seller .action-card-best-seller i:hover {
  color: red;
}
.card-item-best-seller:hover {
  border: 3px solid aqua;
}
.card-item-best-seller:hover .action-card-best-seller {
  display: flex !important;
  color: black;
}

.control-arrow-seller-mode-prev {
  top: -10%;
  left: 90%;
}

.control-arrow-seller-mode-next {
  top: -10%;
}

.price-new {
  color: #007aff;
}

.price-old {
  color: #cccccc;
}

.timer {
  width: 60px;
  height: 60px;
  background-color: #f5f5f5;
}

.timer-text {
  width: 60px;
  height: 60px;
}

.control-arrow-deals-prev {
  position: absolute;
  top: 5%;
}

.control-arrow-deals-next {
  position: absolute;
  top: 5%;
}

.seve-price {
  right: 2%;
  top: 3%;
  height: 100px;
  width: 100px;
  background-color: #4cd964;
  border-radius: 50%;
}

.control-arrow-deals-mode-next {
  top: -4%;
  left: 90%;
}

.control-arrow-deals-mode-prev {
  top: -4%;
  left: 80%;
}

.today-deals {
  background-color: #eeeeee;
}

/*# sourceMappingURL=style.css.map */
