.best-sellings {
  height: 275px !important;
}

.control-arrows {
}
.control-arrow-prev {
  position: absolute;
  top: 65%;
  left: -20%;
}

.control-arrow-next {
  position: absolute;
  top: 65%;
  left: -15%;
}
