.item-best-selers {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 0px;
  .card-item-best-seller {
    height: 275px;
    width: calculatorWith(100, 6);
    .action-card-best-seller {
      display: none !important;
      height: 75px;
      top: 10%;
      left: 10%;
      i {
        &:hover {
          color: red;
        }
      }
    }
    &:hover {
      border: 3px solid aqua;
      .action-card-best-seller {
        display: flex !important;
        color: black;
      }
    }
  }
}

.control-arrow-seller-mode-prev {
  top: -10%;
  left: 90%;
  svg path {
    fill: #979797;
  }
}

.control-arrow-seller-mode-next {
  top: -10%;
  svg path {
    fill: #979797;
  }
}
